Repository mapbox/impact-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, kramer, kramer --format

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "!(package*).json": ["prettier --write"],
  "*.md": ["kramer", "kramer --format"]
}

readme updates
  accessibility/README.md
Due: kramer, kramer --format

formatting
  accessibility/README.md
Due: kramer, kramer --format

GeoJSON
  accessibility/README.md
Due: kramer, kramer --format

final readme updates
  accessibility/README.md
Due: kramer, kramer --format

readme updates (#27)
  accessibility/README.md
Due: kramer, kramer --format

Convert density from geoseries/ndarray to number
  accessibility/analyze.py
Due: none

cleanup
  accessibility/analyze.py
Due: none

.Explode() and Population Density (#28)
  accessibility/analyze.py
Due: none

Fix issue with filters
  finder/app.js
Due: eslint, prettier --write

add tdf animation demo
  .gitignore
  journey-animation-sequence/.gitignore
  journey-animation-sequence/README.md
  journey-animation-sequence/data/male-stage-1.geojson
  journey-animation-sequence/index.html
  journey-animation-sequence/js/README.md
  journey-animation-sequence/js/animate-path.js
  journey-animation-sequence/js/fly-in-and-rotate.js
  journey-animation-sequence/js/scripts.js
  journey-animation-sequence/js/util.js
Due: eslint, prettier --write, kramer, kramer --format

stage 9 production
  journey-animation-sequence/data/male-stage-9.geojson
  journey-animation-sequence/js/animate-path.js
  journey-animation-sequence/js/scripts.js
  journey-animation-sequence/js/util.js
Due: eslint, prettier --write

update readme, come code cleanup
  journey-animation-sequence/README.md
  journey-animation-sequence/js/animate-path.js
  journey-animation-sequence/js/util.js
Due: eslint, prettier --write, kramer, kramer --format

add an example URL
  journey-animation-sequence/README.md
Due: kramer, kramer --format

Test
  finder/config.js
  package-lock.json
Due: eslint, prettier --write

Created NCDFI Locator Folder
  NCDFI-Locator/README.md
  NCDFI-Locator/Sample_Data.csv
  NCDFI-Locator/app.js
  NCDFI-Locator/config.js
  NCDFI-Locator/index.html
  NCDFI-Locator/style.css
  README.md
Due: eslint, prettier --write, kramer, kramer --format

Adjusted Map Center
  NCDFI-Locator/config.js
Due: eslint, prettier --write

Updated to work for me. Moved API key to untracked file
  .gitignore
  journey-animation-sequence/data/white-pass-pilot-ridge.geojson
  journey-animation-sequence/js/scripts.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Added yosemite route info. Modified scripts to work for my needs
  journey-animation-sequence/data/2023_Thru_Permitted.geojson
  journey-animation-sequence/data/Yosemite_Days.json
  journey-animation-sequence/data/female-stage-1.geojson
  journey-animation-sequence/data/female-stage-2.geojson
  journey-animation-sequence/data/female-stage-3.geojson
  journey-animation-sequence/data/female-stage-4.geojson
  journey-animation-sequence/data/female-stage-5.geojson
  journey-animation-sequence/data/female-stage-6.geojson
  journey-animation-sequence/data/female-stage-7.geojson
  journey-animation-sequence/data/female-stage-8.geojson
  journey-animation-sequence/data/male-stage-1.geojson
  journey-animation-sequence/data/male-stage-10.geojson
  journey-animation-sequence/data/male-stage-11.geojson
  journey-animation-sequence/data/male-stage-12.geojson
  journey-animation-sequence/data/male-stage-13.geojson
  journey-animation-sequence/data/male-stage-14.geojson
  journey-animation-sequence/data/male-stage-15.geojson
  journey-animation-sequence/data/male-stage-16.geojson
  journey-animation-sequence/data/male-stage-17.geojson
  journey-animation-sequence/data/male-stage-18.geojson
  journey-animation-sequence/data/male-stage-19.geojson
  journey-animation-sequence/data/male-stage-2.geojson
  journey-animation-sequence/data/male-stage-20.geojson
  journey-animation-sequence/data/male-stage-21.geojson
  journey-animation-sequence/data/male-stage-3.geojson
  journey-animation-sequence/data/male-stage-4.geojson
  journey-animation-sequence/data/male-stage-5.geojson
  journey-animation-sequence/data/male-stage-6.geojson
  journey-animation-sequence/data/male-stage-7.geojson
  journey-animation-sequence/data/male-stage-8.geojson
  journey-animation-sequence/data/male-stage-9.geojson
  journey-animation-sequence/data/yosemite-1.geojson
  journey-animation-sequence/data/yosemite-2.geojson
  journey-animation-sequence/data/yosemite-3.geojson
  journey-animation-sequence/data/yosemite-4.geojson
  journey-animation-sequence/data/yosemite-5.geojson
  journey-animation-sequence/data/yosemite-6.geojson
  journey-animation-sequence/index.html
  journey-animation-sequence/js/scripts.js
Due: eslint, prettier --write

readme updates for myself
  journey-animation-sequence/README.md
Due: kramer, kramer --format

added complete yosemite trip
  journey-animation-sequence/data/yosemite-total.geojson
Due: none

2023 Certified NCDFI data added to csv
  NCDFI-Locator/NCDFIs.csv
  NCDFI-Locator/app.js
  NCDFI-Locator/config.js
  NCDFI-Locator/style.css
Due: eslint, prettier --write

Completed TOP Map NCDFI MVP with ESLint fixes
  TOP-Map-NCDFIs/NCDFIs.csv
  TOP-Map-NCDFIs/README.md
  TOP-Map-NCDFIs/Sample_Data.csv
  TOP-Map-NCDFIs/app.js
  TOP-Map-NCDFIs/config.js
  TOP-Map-NCDFIs/index.html
  TOP-Map-NCDFIs/style.css
Due: eslint, prettier --write, kramer, kramer --format

Updated csv data
  TOP-Map-NCDFIs/12.19.2023TopMapNCDFIs.csv
  TOP-Map-NCDFIs/NCDFIs.csv
  TOP-Map-NCDFIs/config.js
Due: eslint, prettier --write

Completed TOP Investor Map MVP
  NCDFI-Locator/2023CertifiedNCDFIs.csv
  NCDFI-Locator/config.js
  TOP-Map-Investors/12.19.2023TopMapInvestors.csv
  TOP-Map-Investors/README.md
  TOP-Map-Investors/Sample_Data.csv
  TOP-Map-Investors/app.js
  TOP-Map-Investors/config.js
  TOP-Map-Investors/index.html
  TOP-Map-Investors/style.css
  TOP-Map-NCDFIs/config.js
Due: eslint, prettier --write, kramer, kramer --format

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

Added lending product csv column for filtering and lending product filter
  TOP-Map-Investors/app.js
  TOP-Map-NCDFIs/12.19.2023TopMapNCDFIs.csv
  TOP-Map-NCDFIs/app.js
  TOP-Map-NCDFIs/config.js
  TOP-Map-NCDFIs/style.css
Due: eslint, prettier --write

Fixed finder div height
  finder/app.js
Due: eslint, prettier --write

Refactored setListingsHeight() and call on window events
  finder/app.js
Due: eslint, prettier --write

Hide my hacky comment
  finder/app.js
Due: eslint, prettier --write
